{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="bg-white py-1">
  <div class="container py-3">
    <div class="row align-items-center mb-5">
      <div class="col-lg-7 order-2 order-lg-1">
        <h2 class="font-weight-light">И швец, и жнец, и на дуде игрец...</h2><br>
        <div id="accordionExample" class="accordion shadow"> 
          <div class="card">
            <div id="headingOne" class="card-header bg-white shadow-sm border-0">
              <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Лирика</a></h6>
            </div>
            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-5">
                <p class="font-italic text-muted mb-4">
                  К бэкэнд-разработке пришёл я не самыми прямыми путями. Перечислю некоторые вехи моей карьеры... 
                  <br><br>
                  Из троечника со склонностями к субкультурам и маргинальному поведению к 11 классу я превратился сперва в абитуриента, 
                  а потом и студента Исторического факультета МГУ. Признаюсь, было сложно... два года не спал ночами и учил всё то, 
                  что надо было учить предыдущие 8 школьных лет. Главным мотиватором была внутренняя уверенность, что я смогу... и ведь смог. 
                  Закончил МГУ я уже с красным дипломом, знанием двух иностранных языков, опытом полугодового проживания в Париже и, главное, 
                  широким кругозором - могу самостоятельно разобраться почти что в любом вопросе и с тем же успехом предметно вести диалог об истории, 
                  этнографии, этнопсихологии, политологии, философии, экономике... на трёх языках. 
                  <br><br>
                  В студенческие годы подрабатывал написанием курсовых и дипломных работ на заказ. - За все работы эти негодники получили "отлично". 
                  Потом я поступил в аспирантуру, сдал кандидатские минимумы, да так и забросил учёбу... Дело в том, что с самого первого курса я не собирался 
                  быть преподавателем. Я шёл на Исторический факультет за кругозором и знаниями, а не работой. Да и работа там такая себе... - 
                  стипендия аспиранта гуманитарного факультета - 10 000р. А в 2015 году мои потребности были уже значительно больше... 
                  В общем, аспирантура осталась незаконченной, хотя осталось только кандидатскую дописать.
                  <br><br>
                  И вот я попал в небольшую, но активно расширяющуюся компанию, занимающуюся страховым брокерством. Занимался я, в основном, 
                  организационной работой в департаменте региональных проектов и стал его начальником примерно за 1,5 года. Вот только компания 
                  была всё-таки абсолютно частная, небольшая, да ещё и в такой сфере, что возникали разные правовые инциденты, участником которых быть не хотелось. 
                  Надо было искать более надежное место. 
                  <br><br>
                  И тут я набрёл на вакансию специалиста (низшая должность) в Объединенной двигателестроительной корпорации - 
                  в отделе продаж двигателей для гражданской и транспортной авиации. Устройство проходило не без проблем... сами представьте, историк, 
                  страховщик, менеджер проектов пытается пролезть в авиационную отрасль, в госкорпорацию. Но это же в России происходило, где личные качества пока что 
                  превалируют над записями в дипломах. Поэтому смог убедить руководство департамента, что сгожусь. - Так я занялся планированием продаж авиационных двигателей
                  с историческим образованием.
                  <br><br>
                  Тем не менее, за год смог настроить и автоматизировать процессы планирования и контроля исполнения планов продаж в департаменте... и попался на глаза высшему руководству. 
                  За что был оперативно переведён в новый департамент планирования и учета договоров. Ещё через год я уже руководил всей системой планирования в службе продаж, 
                  а под конец 2019 года был назначен начальником отдела планирования, коим и являюсь по сей день.
                  <br><br>
                  И вот где-то в момент назначения на должность начальника я стал понимать, что иду не в ту сторону... да, у меня всё получается, но я ничего не получаю от работы, 
                  кроме денег. Я не вижу в ней большого смысла, какой-то пользы. Да и рамок очень много, вроде работы точно по графику с 9:00 до 18:00 и обязательно 
                  в офисе, хотя удалённо эффективность моей работы выше...
                  <br><br>
                  Тут-то я и начал думать, что дальше делать. Довольно неожиданно для меня самого моим любимым занятием оказалась работа с данными: обработка, составление красивых 
                  и связанных с другими отчетов, синхронизация данных в отчетах. В Excel я дошёл практически до уровня гуру, хотя от меня этого никто не требовал - самому очень нравилось 
                  писать формулы, искать решения, упрощающие жизнь. Да и раньше подобные наклонности у меня имелись, просто потребности не было. Ещё раз замечу, мне именно это 
                  нравится. Если от организационных вопросов я выть готов, то в данных ковыряться - это развлечение. Даже игры компьютерные сейчас так не увлекают.
                  <br><br>
                  Ну и какой может быть ответ, куда податься? - Материал я могу изучать и понимать быстро, люблю работать с данными, люблю решать логические задачи, люблю 
                  видеть результат обработки данных, анализировать их, автоматизировать их обработку и при этом стремлюсь быть подальше от организационных вопросов, бюрократии 
                  и хочу работать удалённо.
                  <br><br>
                  "Бизнес-аналитик" мне кажется чем-то общим и аморфным. Вроде того же историка - всё знает, но ничего не может практического сделать. "Аналитик баз данных" 
                  - уже интересно, но очень узко. И тут на глаза попадается бэкенд-разработчик, который объединяет в себе всё, что мне нужно. - И работа с базами данных, 
                  и написание кода для получения, хранения и обработки данных, и создание практически применимых и полезных приложений, и отчасти знание фронтенда. Идеальная 
                  база и для интересной лично мне работы, и для дальнейшего развития либо в глубокий бэкенд, либо в фулл-стек разработку... и всё это с возможностью удалённой 
                  работы и фриланса. Вот примерно так и пришёл историк, этнолог, переводчик, страховщик, менеджер проектов, планировщик-экономист к изучению программирования. 
                  И я приложу все силы, чтобы достичь этой новой цели.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="{% static 'img/logo/logo.jpg' %}" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>

<div class="bg-light py-1">
  <div class="container py-3">
    <div class="row mb-4">
      <div class="col-lg-6">
        <h2 class="display-6 font-weight-light">Команда разработки</h2>
        <h4 class="font-italic text-muted">Небольшая, но сплочённая...</h4>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team/Team-Lead.png' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Антон Пушкарев</h5><span class="small text-uppercase text-muted">Team Leader</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://vk.com/abbadon666666" class="social-link"><i class="fa fa-vk fa-2x" style="color: SteelBlue"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/AbbadonAA" class="social-link"><i class="fa fa-github fa-2x" style="color: black"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team/Assistant.png' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Ольга Пушкарева</h5><span class="small text-uppercase text-muted">Personal Assistant</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://vk.com/anakreonta" class="social-link"><i class="fa fa-vk fa-2x" style="color: SteelBlue"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/anakreontaa_/" class="social-link"><i class="fa fa-instagram fa-2x" style="color: BlueViolet"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team/Support_L.png' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Леон</h5><span class="small text-uppercase text-muted">Support Team</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class=""></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class=""></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team/Support_A.png' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Агата</h5><span class="small text-uppercase text-muted">Support Team</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class=""></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class=""></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>
{% endblock %} 